.admin-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--dropdown-menu-color);
    border-bottom: 1px solid var(--task-card-border);
}

.admin-header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-search-input {
    width: 225px;
    height: 37px;
    padding: 5px 10px;
    border: 1px solid var(--task-card-border);
    border-radius: 4px;
    background-color: var(--search-field);
}

.admin-divider {
    width: 1px;
    height: 29px;
    background-color: var(--task-card-border);
}

.admin-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.admin-theme-toggle {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.admin-profile-logo {
    width: 30px;
    height: 30px;
}

.admin-header-user-name,
.admin-header-role {
    line-height: 1.2; 
    color: var(--text-color);
    font-weight: 400;
}

.admin-header-user-name {
    font-size: 16px;
}

.admin-header-role {
    font-size: 12px;
    opacity: 0.5;
}