.App {
    margin: 0 !important;
}

.admin-panel {
    display: flex;
}

.main-content-area {
    padding: 20px;
    background-color: var(--overlay-back);
    flex: 1;
}

.right-sidebar {
    width: 100%;
}