.App {
    margin: 0 !important;
}

.admin-panel {
    display: flex;
}

.main-content-area {
    padding: 20px;
    background-color: var(--admin-panel-background);
    flex: 1;
}

.right-sidebar {
    width: 100%;
}

@media (max-width: 768px) {
    .main-content-area {
        padding: 0;
    }
}

:root {
    --admin-panel-background: #F5F5F5;
}

[data-theme='dark'] {
    --admin-panel-background: #01061B;
}