.input-field label {
    display: block;
    margin-bottom: 2px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}
.input-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 45px;
}

.input-container img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.input-container .divider {
    width: 1px;
    height: 24px;
    background-color: var(--borders-color);
    margin-right: 5px;
}

.input-container input, select {
    border: none;
    flex: 1;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
}