.input-field {
  width: 100%;
  box-sizing: border-box;
}

.input-field label {
  display: block;
  margin-bottom: 2px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--borders-color);
  border-radius: 10px;
  padding: 10px 10px;
  width: 100%; /* Замените фиксированную ширину на 100% */
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 45px;
}

.input-container.error {
  border: 1px solid var(--error-border);
  background-color: var(--error-background);
}

.input-container svg {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.input-container.error svg {
  color: var(--error-border);
  fill: currentColor;
}

.input-container .divider {
  width: 1px;
  height: 24px;
  background-color: var(--input-field-borders);
  margin-right: 5px;
}

.input-container.error .divider {
  background-color: var(--error-border);
}

.input-container input,
.input-container select {
  border: none;
  border-radius: 10px;
  flex: 1;
  outline: none;
  background-color: var(--input-field-background);
  color: var(--text-color);
  width: 100%;
  box-sizing: border-box; 
}

.input-container.error input,
.input-container.error select {
  background-color: var(--error-background);
  color: var(--error-border);
}

.little-select-field {
  width: 90px !important;
  height: 35px;
  background-color: var(--little-input-field);
  padding-left: 10px;
  border: none;
}

.little-select-field option {
  color: black;
  background-color: #303546;
  /* var(--little-input-field); */
}

:root {
  --little-input-field: #F5F5F5;
  --input-field-background: white;
  --input-field-borders: #e2e2e2;
}

[data-theme='dark'] {
  --little-input-field: #F5F5F51A;
  --input-field-background: #1A1F32;
  --input-field-borders: #2D3142;
}

[data-theme='dark'] input[type='number']::-webkit-outer-spin-button,
[data-theme='dark'] input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  color: #FFFFFF; /* Цвет стрелок */
}

:root {
  --error-border: #F46C6C; 
  --error-background: #FAF0F0;
}

[data-theme='dark'] {
  --error-border: #F46C6C; 
  --error-background: #1A1F32;
}


