.task-form {
    flex: 1;
    margin-right: 30px;
    gap: 15px;
    width: 350px;
    text-align: left;
}

.task-form h2 {
    margin-bottom: 10px;
    width: 239px;
    font-size: 28px;
    font-weight: bold;
}

.type-task-buttons-container {
    display: flex;
    justify-content: left;
    gap: 5px;
}

.type-task-button {
    text-align: center;
    padding: 0px 30px;
    border-radius: 10px;
    color: var(--color-buttons);
    background-color: var(--background-color);
    border: 1px solid var(--color-buttons);
    height: 38px;
    margin-bottom: 15px;
}

.type-task-button.active {
    background-color: var(--color-buttons);
    color: var(--background-color);
    border: none;
}

.task-form-count-bots {
    display: flex;
    align-items: center;
    background-color: #2D8EFF1A;
    width: 350px;
    height: 71px;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.left-side-bots {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bot-info-container {
    display: flex;
    align-items: center;
}

.bot-icon {
    margin-right: 8px;
}

.bot-count {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.task-form-data {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.task-form-data-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.task-form-data-row>* {
    flex: 1;
    min-width: 0;
}

.task-form .input-container {
    margin-bottom: 15px;
}

.task-form-submit-button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-buttons);
    color: var(--background-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.task-form .error {
    color: red;
    text-align: left;
    margin-top: 10px;
}