.profile-container {
  text-align: left;
  /* padding: 0px 100px; */
}

.profile-container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 35px;
}

.subscription-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--color-info-block);
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  width: 100%;
  height: 382px;
}

.subscription-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subscription-text {
  flex: 1;
  color: white;
  /* min-width: 372px; */
}

.subscription-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription-image img {
  max-width: 100%;
  height: auto;
}

.subscription-banner h2 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  width: 574px;
}

.subscription-details {
  display: flex;
  justify-content: left;
  margin: 10px 0;
  gap: 10px;
}

.detail-item {
  text-align: left;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 185px;
}

.detail-item p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
}

.detail-item img {
  margin-right: 5px;
}

.detail-item span {
  font-size: 14px;
  color: #555;
}

.subscription-button {
  background-color: white;
  color: var(--color-info-block);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 380px;
}

.cards-section {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.profile-card {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  text-align: left;
  border: 1.5px solid var(--borders-color);
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 135px;
  align-items: center;
}

.profile-card:hover {
  background-color: #1a73e8;
}

.profile-card:hover .profile-card-content {
  color: white;
}

.profile-card-content {
  display: block;
  margin: 0 15px;
}

.profile-card-text {
  margin-left: 10px;
}

.profile-card-icon-container {
  position: relative;
  display: flex;
}

.profile-card-icon1 {
  width: 45px;
  height: 45px;
}

.profile-card-icon2 {
  justify-content: center;
  margin-right: 20px;
  width: 100%;
  /* height: 100%; */
}

.profile-card-content h3 {
  font-size: 18px;
  margin: 0;
}

.profile-card-content p {
  margin: 5px 0 0 0;
  color: inherit;
}

.profile-card-link {
  color: black;
  text-decoration: none;
}

.profile-card-button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 1000px) {
  .subscription-banner {
    display: block;
  }

  .subscription-section {
    display: block;
    height: auto;
  }

  .subscription-image {
    margin-top: 20px;
    flex: 0;
    align-self: center;
  }

  .cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-card {
    margin-bottom: 10px;
    width: 100%;
  }


}


@media (max-width: 800px) {

  .profile-container {
    padding: 0 20px;
  }

  .profile-header h2 {
    font-size: 22px;
  }

  .subscription-banner h2 {
    font-size: 40px;
    width: 100%;
  }
}