.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('./fonts/EuclidCircularA-Regular.woff2') format('woff2'),
       url('./fonts/EuclidCircularA-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('./fonts/EuclidCircularA-Bold.woff2') format('woff2'),
       url('./fonts/EuclidCircularA-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'EuclidCircularA', sans-serif;
}

#root {
  background-color: var(--background-color);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.mr-5 {
  margin-right: 5px;
}

.logo-15x15 {
  fill: var(--default-icon);
  width: 15px;
  height: 15px;
}

.logo-20x20 {
  fill: var(--default-icon);
  width: 20px;
  height: 20px;
}

.currentColor {
  fill: currentColor;
}

:root {
  --background-color: white; 
  --borders-color: #e2e2e2;
  --links-color: #333333;
  --form-background: white;
  --color-info-block: #2D8EFF;
  --color-info-item: white; 
  --color-buttons: #2D8EFF;
  --text-color: black;
  --dropdown-menu-color: white;
  --task-card-background: white;
  --task-card-border: #EFEFEF;
  --overlay-back: #F5F5F5;
  --search-field: #F9F9FA;
  --default-icon: #2D8EFF;
}

[data-theme='dark'] {
  --background-color: #01061B;
  --borders-color: #2D3142;
  --links-color: #CCCDD1;
  --form-background: #1C2D42;
  --color-info-block: #2a78d6;
  --color-info-item: #3f86da; 
  --color-buttons: #2D8EFF;
  --text-color: white;
  --dropdown-menu-color: #1A1F32;
  --task-card-background: #1A1F32;
  --task-card-border: #515151;
  --overlay-back: #01061B;
  --search-field: #F7F7F91A;
  --default-icon: #2D8EFF;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}