.App {
  text-align: center;
  max-width: 1240px;
  margin: 0 auto; /* Добавлено для горизонтального выравнивания */
  /* align-content: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'EuclidCircularA-Medium';
  src: url('./fonts/EuclidCircularA-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA-Bold';
  src: url('./fonts/EuclidCircularA-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'EuclidCircularA-Medium', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mr-5 {
  margin-right: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background-color: white;
  --color-info-block: #2D8EFF;
  --color-info-item: white; 
  --color-buttons: #2D8EFF;
  --text-color: black;
  --dropdown-menu-color: white;
}

[data-theme='dark'] {
  --background-color: #01061B;
  --color-info-block: #2a78d6;
  --color-info-item: #3f86da; 
  --color-buttons: #2D8EFF;
  --text-color: white;
  --dropdown-menu-color: #1A1F32;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}


@media (max-width: 1280px) {
  .App {
    max-width: calc(100% - 40px);
  }
}